.Bookinnform {
  display: flex;
  justify-content: center;
  padding: 100px;
  background: #fbdabb;
  margin-top: 10%;
}

.bookForm {
  width: 20%;
}

#reservation-form input,
select {
  font-size: 22px;
  padding: 5px 10px;
  border-radius: 8px;
}

#reservation-form label {
  font-size: 20px;
  font-weight: bold;
}
