.footer {
  display: flex;
  align-items: center;
}
.footer__logo {
  width: 33%;
}
.Footer__div {
  background-color: #495e57;
}

.footer__div__uls {
  display: flex;
  position: absolute;
  margin-left: 30%;
}

.footer__ul1 {
  margin-right: 50px;
}

.footer__ul2 {
  margin-right: 50px;
}
