.footer {
  display: flex;
  color: white;
  font-size: 20px;
  justify-content: center;
}
.footer__logo {
  width: 500px;
  margin-right: 70px;
}
.Footer__div {
  background-color: #495e57;
}

.footer__ul {
  list-style: none;
}

.footer__ul p {
  font-weight: bold;
}

.footer__ul li {
  padding: 3px 0px;
}
