/* .Highlights__div {
  background-color: #edefee;
  padding-bottom: 500px;
  position: relative;
} */
/* .Highlights__div2 {
  background-color: #edefee;
  padding-bottom: 500px;
}
.Highlights__div3 {
  background-color: #edefee;
  padding-bottom: 500px;
} */

.Highlights__component {
  /* display: grid; */
  justify-items: start;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-template-rows: 1fr; */
  /* grid-column-gap: 50px; */
  /* grid-row-gap: 8px; */
  /* background-color: #edefee; */
  /* padding-bottom: 500px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 8px;
  position: relative;
}
