.nav {
  display: flex;
  justify-content: space-around;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__logo__header {
  width: 20%;
}

.nav__li__links {
  padding: 10px;
}
