.nav {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: karla;
  /* font-weight: bold; */
  font-size: 20px;
}

.nav__logo__header {
  width: 15%;
  margin-right: 5%;
}

.nav__li__links {
  padding: 10px;
  color: black;
}

.nav__home {
  text-decoration: none;
  color: black;
}

.nav__about {
  text-decoration: none;
  color: black;
}
.nav__menu {
  text-decoration: none;
  color: black;
}
.nav__reservations {
  text-decoration: none;
  color: black;
}
.nav__order {
  text-decoration: none;
  color: black;
}

.nav__login {
  text-decoration: none;
  color: black;
}
